In [ ]:
import pandas as pd

In [31]:
df=pd.read_csv(r"C:\Users\DELL\Downloads\archive (6)\heart_statlog_cleveland_hungary_final.csv")

In [32]:
df

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope,target
0,40,1,2,140,289,0,0,172,0,0.0,1,0
1,49,0,3,160,180,0,0,156,0,1.0,2,1
2,37,1,2,130,283,0,1,98,0,0.0,1,0
3,48,0,4,138,214,0,0,108,1,1.5,2,1
4,54,1,3,150,195,0,0,122,0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1185,45,1,1,110,264,0,0,132,0,1.2,2,1
1186,68,1,4,144,193,1,0,141,0,3.4,2,1
1187,57,1,4,130,131,0,0,115,1,1.2,2,1
1188,57,0,2,130,236,0,2,174,0,0.0,2,1
1189,38,1,3,138,175,0,0,173,0,0.0,1,0

In [33]:
df['ST slope'].min()

0

In [34]:
df['ST slope'].max()

3

In [35]:
df[df['oldpeak']<0]

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope,target
322,63,1,4,100,0,1,0,109,0,-0.9,2,1
325,46,1,4,100,0,1,1,133,0,-2.6,2,1
326,42,1,4,105,0,1,0,128,1,-1.5,3,1
327,45,1,3,110,0,0,0,138,0,-0.1,1,0
332,56,1,4,115,0,1,1,82,0,-1.0,1,1
333,38,1,3,100,0,0,0,179,0,-1.1,1,0
335,51,1,4,130,0,1,0,170,0,-0.7,1,1
336,62,1,1,120,0,1,2,134,0,-0.8,2,1
353,56,1,4,120,0,0,1,100,1,-1.0,3,1
408,62,1,4,115,0,1,0,72,1,-0.5,2,1
414,56,1,3,125,0,1,0,98,0,-2.0,2,1
422,66,1,3,120,0,0,1,120,0,-0.5,1,0
513,35,1,3,123,161,0,1,153,0,-0.1,1,0

In [38]:
df.columns

Index(['age', 'sex', 'chest pain type', 'resting bp s', 'cholesterol',
       'fasting blood sugar', 'resting ecg', 'max heart rate',
       'exercise angina', 'oldpeak', 'ST slope', 'target'],
      dtype='object')

In [8]:
df.isna().sum()

age                    0
sex                    0
chest pain type        0
resting bp s           0
cholesterol            0
fasting blood sugar    0
resting ecg            0
max heart rate         0
exercise angina        0
oldpeak                0
ST slope               0
target                 0
dtype: int64

In [9]:
x=df.drop('target',axis=1)

In [10]:
y=df['target']

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=56)

In [13]:
from sklearn.neighbors import KNeighborsClassifier

In [14]:
knn=KNeighborsClassifier()
knn.fit(x_train,y_train)
y_pre=knn.predict(x_test)
accuracy_score(y_test,y_pre)

0.7142857142857143

In [15]:
from sklearn.naive_bayes import GaussianNB

In [16]:
gb=GaussianNB()
gb.fit(x_train,y_train)
y_pre=gb.predict(x_test)
accuracy_score(y_test,y_pre)

0.8361344537815126

In [17]:
from sklearn.tree import DecisionTreeClassifier

In [18]:
dt=DecisionTreeClassifier()
dt.fit(x_train,y_train)
y_pre=dt.predict(x_test)
accuracy_score(y_test,y_pre)

0.8865546218487395

In [19]:
from sklearn.svm import SVC

In [20]:
sv=SVC()
sv.fit(x_train,y_train)
y_pre=sv.predict(x_test)
accuracy_score(y_test,y_pre)

0.7436974789915967

In [21]:
from sklearn.linear_model import LogisticRegression

In [22]:
lr=LogisticRegression()
lr.fit(x_train,y_train)
y_pre=lr.predict(x_test)
accuracy_score(y_test,y_pre)

C:\Users\DELL\AppData\Local\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.819327731092437

In [23]:
import pickle

In [24]:
pickle.dump(dt,open('heart.pkl','wb'))

In [25]:
model=pickle.load(open('heart.pkl','rb'))

In [26]:
model.predict([[38,1,3,138,175,0,0,173,0,0.0,1]])[0]

C:\Users\DELL\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

0

In [27]:
model.predict([[57,0,2,130,236,0,2,174,0,0.0,2]])[0]

C:\Users\DELL\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

1

In [28]:
import os

In [29]:
os.getcwd()

'C:\\Users\\DELL\\Machine Learning\\PHASE-2'